nav * {
  color: black !important;
}

#login-sm,
#login-md {
  color: #006ee3 !important;
}

.jumbotron {
  background-color: #f1f1f1;
  border: 2px solid black;
}

.btn-success {
  background-color: darkgreen;
}

small {
  color: black;
}
