/* BOOTSTRAP OVERRIDES */

/* nav * {
  color: black !important;
} */

/* #login-sm,
#login-md {
  color: #006ee3 !important;
} */

.jumbotron {
  background-color: transparent;
}

.btn-success {
  background-color: darkgreen;
}

small {
  color: black;
}

/* CUSTOM CSS */

body {
  font-family: "Roboto", sans-serif;
}

/* Navbar */

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  background-color: rbga(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar .navbar-nav a {
  font-weight: bold;
}

.alert-container .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.site-wide-alert {
  border-radius: 0;
  margin-bottom: 0;
  padding: 5px 15px;
  background-color: #eec802;
  border-color: #eec802;
}

.callout-container {
  height: 100vh;

  background: url("images/whiskey-background.jpg") no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  /* 
  Set position: relative so that opaque-overlay positions correctly.
  See: relative parents with absolute children. 
  */
  position: relative;
}

/* Utility Classes */

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Block dividers */

.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
}

.block-divider--orange {
  background-color: #f05f40;
}

.block-divider--short {
  width: 35px;
}

/* Jumbotron */

.jumbotron-header {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.jumbotron .lead {
  margin: 25px 0;
  color: #a7a7a7;
}

.jumbotron small {
  font-size: 60%;
  font-style: italic;
  color: #d0d0d0;
}
.quotes-container {
}

.features-container {
}

/* Buttons */

.btn--cta {
  font-weight: bold;
  border-radius: 25px;
  width: 160px;
}

.btn--orange {
  color: white;
  background-color: #f05f40;
  border-color: #f05f40;
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus {
  background-color: #df4929;
  border-color: #df4929;
}
